.grids{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 3rem;
   
}

img{
    
    width: 100%;
    height: auto;
    border-radius: 10%;
    padding-left: 1rem; 
}
@media  screen and (max-width: 768px){
   .grid{
    display: grid;
    grid-column: 1/-1;
    background: blue;
   
   } 
}